@model AssessmentCenter.Models.Forms.MultiFormViewModel

@foreach (var form in Model.Form)
{
    <table style="width:100%">
        <tr>
            <td style="width:50%">@form.OID</td>
            <td style="width:50%">@form.Name</td>
            @if (form.LoincCode != null)
            {
                <td style="width:50%">@form.LoincCode</td>
            }
        </tr>
    </table>
}

